.article {
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 288px - 130px);
  padding: 0 2rem;
}

.article-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  font-size: 24px;
}
