.sub-menu_grid {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem;
  min-height: calc(100vh - 288px - 130px);
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 140px;
  row-gap: 40px;
  column-gap: 40px;
}
.sub-menu_elem {
  display: flex;
}
.sub-menu_text-block {
  width: 40%;
  height: 100%;
}
.sub-menu_image {
  width: 60%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
